body, html {
    margin: 0px;
    height: 100%;
}

main {
    height: 100%;
}

#section-rotate {
    padding: 90px 0px;
    background-color: gainsboro;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#inside {
    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#upper :first-child { 
    background-color: blue;
    height: 90px;
    width: 90px;
    display: flex;

    border-radius: 50%;
}

#upper :last-child {
    background-color: rgb(255, 8, 0);
    height: 90px;
    width: 90px;

    border-radius: 50%;
}

#down :first-child {
    background-color: rgb(0, 248, 33);
    height: 90px;
    width: 90px;

    border-radius: 50%;
}

#down :last-child {
    background-color: rgb(238, 255, 0);
    height: 90px;
    width: 90px;

    border-radius: 50%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#section-highlight {
    margin-top: 50px;
    background-color: aqua;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes highlight {
    from {
        background-color: transparent;
    }

    to {
        background-color: #e4f40e;
        font-size: 48px;
        font-weight: bolder;
    }
}

#section-highlight p{
    font-family: sans-serif;
    font-size: 24px;

    animation-name: highlight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    
}


#section-shadow {
    background-color:deepskyblue;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#section-shadow div { 
    height: 500px;
    width: 500px;

    border-radius: 50%;
    background-color: #FFFFFF;

    box-shadow: 0px 0px 20px 20px rgb(255, 81, 0, .1);

    animation-name: anino;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
}

@keyframes anino {
    /* percentage */

    15% {
        box-shadow: 0px 0px 20px 20px rgb(200, 255, 1);
        height: 530px;
        width: 530px;
    }
    
    30% {
        box-shadow: 0px 0px 20px 20px rgb(200, 255, 1,0);
        height: 490px;
        width: 490px;
    }

    45% {
        box-shadow: 0px 0px 20px 20px rgb(0, 255, 0);
        height: 530px;
        width: 530px;
    }

    60% {
        box-shadow: 0px 0px 20px 20px rgb(200, 255, 1,0);
        height: 490px;
        width: 490px;
    }

    75% {
        box-shadow: 0px 0px 20px 20px rgb(255, 0, 234);
        height: 530px;
        width: 530px;
    }

    85% {
        box-shadow: 0px 0px 20px 20px rgb(200, 255, 1,0);
        height: 490px;
        width: 490px;
    }

    100% {
        box-shadow: 0px 0px 20px 20px rgb(0, 110, 255);
        height: 530px;
        width: 530px;
    }

}